In [1]:
import pandas as pd
from sklearn.model_selection import KFold
from catboost import CatBoostClassifier
import numpy as np
from sklearn.metrics import f1_score
import pickle

In [2]:
dataset=pd.read_csv('C:\\Users\\HP-PC\\LOAN CATEGORY PREDICTION\\DATA\\train.csv')

In [3]:
dataset[dataset['Interest_Rate']==1]

,Loan_ID,Loan_Amount_Requested,Length_Employed,Home_Owner,Annual_Income,Income_Verified,Purpose_Of_Loan,Debt_To_Income,Inquiries_Last_6Mo,Months_Since_Deliquency,Number_Open_Accounts,Total_Accounts,Gender,Interest_Rate
0,10000001,"7,000",< 1 year,Rent,68000.0,not verified,car,18.37,0,NaN,9,14,Female,1
4,10000005,"17,000",8 years,Own,96000.0,VERIFIED - income source,debt_consolidation,22.17,1,NaN,19,30,Female,1
9,10000010,"30,000",10+ years,Own,163000.0,VERIFIED - income,debt_consolidation,11.13,0,NaN,24,43,Male,1
20,10000021,"4,000",10+ years,Rent,55000.0,not verified,credit_card,23.04,0,10.0,15,21,Female,1
25,10000026,"2,200",7 years,Mortgage,82000.0,not verified,major_purchase,5.02,1,NaN,14,21,Female,1
30,10000031,"10,075",9 years,Mortgage,65520.0,VERIFIED - income,debt_consolidation,23.96,1,22.0,11,31,Female,1
32,10000033,"12,000",2 years,Mortgage,75000.0,VERIFIED - income source,debt_consolidation,9.20,1,NaN,10,25,Female,1
33,10000034,"8,875",4 years,NaN,NaN,VERIFIED - income,debt_consolidation,24.32,0,NaN,5,8,Male,1
37,10000038,"21,000",2 years,NaN,130000.0,VERIFIED - income,credit_card,5.25,0,64.0,8,19,Female,1
39,10000040,"8,400",10+ years,NaN,95000.0,VERIFIED - income,debt_consolidation,17.32,0,NaN,13,41,Male,1
59,10000060,"12,000",3 years,Rent,75000.0,VERIFIED - income source,car,17.81,0,43.0,7,13,Male,1
62,10000063,"12,000",5 years,Rent,NaN,VERIFIED - income source,debt_consolidation,19.79,2,NaN,9,15,Male,1
74,10000075,"9,500",4 years,Mortgage,64064.0,not verified,credit_card,4.80,0,23.0,9,15,Male,1
79,10000080,"12,000",4 years,NaN,42000.0,not verified,debt_consolidation,15.77,0,NaN,12,18,Male,1
83,10000084,"35,000",5 years,Mortgage,200000.0,not verified,credit_card,15.19,2,64.0,12,38,Male,1
91,10000092,"22,400",10+ years,Mortgage,NaN,VERIFIED - income source,debt_consolidation,12.95,0,NaN,17,34,Male,1
94,10000095,"7,200",2 years,Rent,90000.0,not verified,debt_consolidation,5.03,0,NaN,10,12,Male,1
95,10000096,"20,000",10+ years,NaN,100000.0,VERIFIED - income source,credit_card,12.72,0,32.0,6,10,Male,1
98,10000099,"35,000",2 years,Mortgage,400000.0,VERIFIED - income source,home_improvement,3.78,2,NaN,14,19,Male,1
99,10000100,"5,000",10+ years,NaN,NaN,not verified,other,15.61,0,NaN,13,20,Male,1
104,10000105,"14,100",10+ years,NaN,40000.0,not verified,debt_consolidation,9.57,0,NaN,10,27,Male,1
108,10000109,"12,000",6 years,Rent,55000.0,not verified,debt_consolidation,21.56,0,NaN,9,34,Female,1
117,10000118,"28,000",1 year,Own,68000.0,VERIFIED - income source,credit_card,25.96,1,NaN,13,71,Male,1
123,10000124,"8,000",2 years,Mortgage,57000.0,not verified,debt_consolidation,6.69,0,NaN,11,30,Male,1
127,10000128,"6,800",2 years,Mortgage,40000.0,not verified,debt_consolidation,19.26,2,NaN,7,19,Male,1
139,10000140,"4,000",10+ years,Mortgage,57431.0,not verified,car,6.18,0,NaN,14,21,Male,1
142,10000143,"9,000",10+ years,Mortgage,80000.0,not verified,car,12.09,3,76.0,17,28,Male,1
151,10000152,"14,000",8 years,Rent,40000.0,VERIFIED - income source,debt_consolidation,4.23,0,NaN,4,14,Male,1
155,10000156,"7,400",< 1 year,NaN,140000.0,VERIFIED - income source,moving,0.15,0,NaN,13,19,Female,1
159,10000160,"5,000",1 year,Rent,48175.0,not verified,debt_consolidation,4.43,1,NaN,7,20,Male,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164152,10164153,"6,000",< 1 year,Own,42000.0,VERIFIED - income source,car,5.74,0,NaN,6,9,Female,1
164156,10164157,"18,000",< 1 year,Rent,80000.0,VERIFIED - income source,credit_card,16.97,0,NaN,6,12,Female,1
164170,10164171,"20,000",10+ years,NaN,106000.0,VERIFIED - income,debt_consolidation,27.15,0,7.0,19,38,Male,1
164173,10164174,"13,000",< 1 year,Rent,60250.0,not verified,debt_consolidation,28.98,0,NaN,12,34,Male,1
164175,10164176,"30,000",10+ years,Mortgage,NaN,VERIFIED - income source,debt_consolidation,8.38,0,NaN,6,14,Male,1
164176,10164177,"25,000",8 years,Own,95000.0,VERIFIED - income,debt_consolidation,4.71,0,NaN,4,34,Female,1
164183,10164184,"10,000",< 1 year,Mortgage,200000.0,not verified,medical,0.26,0,NaN,11,35,Male,1
164185,10164186,"10,000",3 years,Mortgage,NaN,VERIFIED - income source,home_improvement,14.34,1,54.0,13,21,Male,1
164200,10164201,"24,000",4 years,NaN,85000.0,not verified,credit_card,28.55,1,64.0,19,45,Male,1
164201,10164202,"12,000",< 1 year,Own,NaN,VERIFIED - income source,credit_card,27.44,0,28.0,14,33,Female,1
164205,10164206,"32,000",10+ years,Mortgage,112000.0,VERIFIED - income,home_improvement,11.06,0,15.0,21,30,Male,1
164214,10164215,"8,000",1 year,Rent,23899.0,not verified,credit_card,22.35,1,NaN,15,18,Male,1
164216,10164217,"17,000",10+ years,Mortgage,NaN,VERIFIED - income,debt_consolidation,15.96,0,NaN,6,12,Female,1
164221,10164222,"8,500",10+ years,Mortgage,105000.0,VERIFIED - income,debt_consolidation,29.11,0,10.0,20,63,Female,1
164225,10164226,"20,000",5 years,Mortgage,110000.0,VERIFIED - income source,home_improvement,12.56,0,NaN,12,24,Male,1
164229,10164230,"18,000",6 years,Mortgage,NaN,VERIFIED - income,credit_card,20.89,0,NaN,17,33,Male,1
164234,10164235,"16,000",2 years,Mortgage,65000.0,not verified,debt_consolidation,13.77,0,NaN,14,17,Male,1
164239,10164240,"15,000",4 years,Mortgage,100000.0,not verified,credit_card,29.50,1,NaN,17,44,Female,1
164241,10164242,"15,000",10+ years,Mortgage,50000.0,not verified,home_improvement,3.77,2,NaN,8,17,Male,1
164242,10164243,"3,000",3 years,Mortgage,37200.0,VERIFIED - income,debt_consolidation,20.29,0,NaN,4,16,Female,1
164252,10164253,"4,500",7 years,Mortgage,85000.0,not verified,debt_consolidation,29.30,0,NaN,12,29,Female,1
164266,10164267,"10,000",10+ years,Mortgage,70000.0,VERIFIED - income,home_improvement,11.88,0,75.0,7,47,Female,1
164271,10164272,"10,000",5 years,Mortgage,86000.0,not verified,other,7.32,1,25.0,10,13,Male,1
164274,10164275,"2,500",10+ years,Mortgage,NaN,not verified,home_improvement,10.96,0,NaN,14,43,Female,1
164275,10164276,"5,000",6 years,NaN,84000.0,not verified,home_improvement,11.17,1,NaN,11,24,Male,1
164282,10164283,"13,600",5 years,Mortgage,66000.0,VERIFIED - income,debt_consolidation,24.76,1,20.0,19,38,Female,1
164289,10164290,"8,000",NaN,Rent,NaN,VERIFIED - income source,debt_consolidation,21.08,3,NaN,6,19,Male,1
164292,10164293,"12,300",8 years,Mortgage,61000.0,VERIFIED - income source,debt_consolidation,13.21,1,NaN,12,30,Female,1
164293,10164294,"25,000",10+ years,Rent,90000.0,VERIFIED - income source,debt_consolidation,13.57,1,NaN,6,35,Male,1
164306,10164307,"20,250",10+ years,Mortgage,NaN,VERIFIED - income,credit_card,18.17,1,NaN,17,30,Male,1

In [3]:
data={'< 1 year':1, '4 years':4, '7 years':7, '8 years':8, '2 years':2,
       '10+ years':10, '1 year':1, '6 years':6, '9 years':9, '3 years':3,
       '5 years':5}

dataset['Length_Employed']=dataset['Length_Employed'].map(data)
dataset['Length_Employed']=dataset['Length_Employed'].fillna(0)

In [4]:
dataset['Home_Owner']=dataset['Home_Owner'].fillna('Other')

In [5]:
dataset['Months_Since_Deliquency']=dataset['Months_Since_Deliquency'].fillna(0)

In [6]:
dataset['Annual_Income']=dataset['Annual_Income'].fillna(dataset['Annual_Income'].median())

In [7]:
dataset["Loan_Amount_Requested"] = dataset["Loan_Amount_Requested"].str.replace(",", "")

In [8]:
dataset.head()

,Loan_ID,Loan_Amount_Requested,Length_Employed,Home_Owner,Annual_Income,Income_Verified,Purpose_Of_Loan,Debt_To_Income,Inquiries_Last_6Mo,Months_Since_Deliquency,Number_Open_Accounts,Total_Accounts,Gender,Interest_Rate
0,10000001,7000,1.0,Rent,68000.0,not verified,car,18.37,0,0.0,9,14,Female,1
1,10000002,30000,4.0,Mortgage,63000.0,VERIFIED - income,debt_consolidation,14.93,0,17.0,12,24,Female,3
2,10000003,24725,7.0,Mortgage,75566.4,VERIFIED - income source,debt_consolidation,15.88,0,0.0,12,16,Male,3
3,10000004,16000,1.0,Other,56160.0,VERIFIED - income source,debt_consolidation,14.34,3,0.0,16,22,Male,3
4,10000005,17000,8.0,Own,96000.0,VERIFIED - income source,debt_consolidation,22.17,1,0.0,19,30,Female,1

In [13]:
x=dataset.drop(['Loan_ID','Interest_Rate'],axis=1).values
y=dataset['Interest_Rate']

In [18]:
#using catboost
kfold, scores = KFold(n_splits=5, shuffle=True, random_state=0), list()
for train, test in kfold.split(x):
    x_train, x_test = x[train], x[test]
    y_train, y_test = y[train], y[test]
    model = CatBoostClassifier(random_state=27, max_depth=5, n_estimators=100, verbose=500)
    model.fit(x_train, y_train, cat_features=[ 2, 4, 5, 11])
    preds = model.predict(x_test)
    score = f1_score(y_test, preds, average="weighted")
    scores.append(score)
    print(score)
print("Average: ", sum(scores)/len(scores))

Learning rate set to 0.5
0:	learn: 1.0357264	total: 126ms	remaining: 12.5s
99:	learn: 0.9081827	total: 11.3s	remaining: 0us
0.5309230147411327
Learning rate set to 0.5
0:	learn: 1.0351669	total: 133ms	remaining: 13.2s
99:	learn: 0.9071188	total: 11.5s	remaining: 0us
0.5291740821824357
Learning rate set to 0.5
0:	learn: 1.0349073	total: 124ms	remaining: 12.3s
99:	learn: 0.9071879	total: 11.7s	remaining: 0us
0.5301525531903198
Learning rate set to 0.5
0:	learn: 1.0354564	total: 294ms	remaining: 29.1s
99:	learn: 0.9077124	total: 17.3s	remaining: 0us
0.5312845237960951
Learning rate set to 0.5
0:	learn: 1.0388075	total: 266ms	remaining: 26.3s
99:	learn: 0.9073161	total: 13.8s	remaining: 0us
0.5328242710219436
Average:  0.5308716889863854

In [20]:
pickle.dump(model,open('model.pkl','wb'))